<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout (~{::body})"
      th:with="title='Radio', content=~{::content}">
<body>
<section id="content">
  <h4 th:text="${radio.id} != null ? 'Edit Radio' : 'New Radio'">Radio</h4>
  <form method="post" th:action="@{/admin/radios}" th:object="${radio}" class="row g-3">
    <input type="hidden" th:field="*{id}"/>
    <div class="col-md-4">
      <label class="form-label">Serial</label>
      <input class="form-control" th:field="*{serial}" required/>
    </div>
    <div class="col-md-4">
      <label class="form-label">Callsign</label>
      <input class="form-control" th:field="*{callsign}"/>
    </div>
    <div class="col-md-4">
      <label class="form-label">Model</label>
      <input class="form-control" th:field="*{model}"/>
    </div>
    <div class="col-md-4">
      <label class="form-label">Status</label>
      <select class="form-select" th:field="*{status}">
        <option th:each="s : ${T(org.fleetwave.domain.Radio.Status).values()}" th:value="${s}" th:text="${s}"></option>
      </select>
    </div>
    <div class="col-12">
      <button class="btn btn-success" type="submit">Save</button>
      <a class="btn btn-secondary" href="/admin/radios">Cancel</a>
    </div>
  </form>
</section>
</body>
</html>
